.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement {
}
.advertisement-container {
  padding: 80px 10px;

  max-width: 375px;

  margin: 0 auto;
}

.advertisement-subtitle {
  font-size: 48px;
  font-weight: 600;
  line-height: 0.96;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.advertisement-thumbnail {
  display: inline-block;
  font-weight: 700;
  background-color: #576f35;
  border-radius: 12px;
  padding: 10px;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .advertisement {
  }
  .advertisement-container {
    padding: 100px 16px;

    max-width: 768px;
  }
  .advertisement-subtitle {
    font-size: 64px;
    line-height: 1.1;
  }
  .advertisement-thumbnail {
    padding: 16px;
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .advertisement {
  }
  .advertisement-container {
    padding: 100px 100px;

    max-width: 1280px;
  }
  .advertisement-subtitle {
    font-size: 76px;
    line-height: 1.05;
  }
  .advertisement-thumbnail {
    padding: 16px;
    display: inline-block;
  }
}
