.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement {
  max-width: 335px;
  margin: 0 auto;
}
.advertisement-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advertisement-title {
  min-width: 320px;
  font-size: 48px;
  font-weight: 600;
  line-height: 0.96;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
}

.advertisement-thumbnail {
  display: block;
  font-weight: 700;
  text-align: left;
  background-color: #576f35;
  border-radius: 12px;
  padding: 10px;
  margin: -3px -10px 0 -10px;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .advertisement {
    max-width: 704px;
  }
  .advertisement-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .advertisement-title {
    font-size: 64px;
    line-height: 1.09;
  }
  .advertisement-thumbnail {
    padding: 16px;
    margin: -8px -16px 0 -16px;
  }
}
@media screen and (min-width: 1280px) {
  .advertisement {
    max-width: 1080px;
  }

  .advertisement-title {
    font-size: 76px;
    line-height: 1.05;
  }
  .advertisement-thumbnail {
    padding: 16px;
    margin: 0 0 0 -13px;
  }
}
