.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement-container {
  max-width: 375px;
  padding: 80px 10px;
  margin: 0 auto;
}

.advertisement-subtitle {
  min-width: 320px;
  font-size: 48px;
  font-weight: 600;
  line-height: 0.96;
  letter-spacing: -0.015em;
  text-align: left;
  text-transform: uppercase;
}

.advertisement-thumbnail {
  display: block;
  font-weight: 700;
  text-align: left;
  background-color: #576f35;
  border-radius: 12px;
  padding: 10px;
  margin: -3px -10px 0px -10px;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .advertisement-container {
    max-width: 768px;
    padding: 100px 16px;
  }
  .advertisement-subtitle {
    font-size: 64px;
    line-height: 1.1;
  }
  .advertisement-thumbnail {
    padding: 16px;
    margin: -8px -16px 0 -16px;
  }
}
@media screen and (min-width: 1280px) {
  .advertisement-container {
    max-width: 1280px;
    padding: 100px;
  }
  .advertisement-subtitle {
    font-size: 76px;
    line-height: 1.05;
  }
  .advertisement-thumbnail {
    display: inline-block;
    padding: 16px;
    margin: 0 0 0 -13px;
  }
}
