.header {
  z-index: 1;
  position: fixed;
  left: calc(50% - 187.8px);
  /* filter: opacity(80%); */
}

.header-container {
  position: absolute;
  top: 20px;
  min-width: 375px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(87, 111, 53, 0.3);
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo-link {
  display: flex;
  gap: 4px;
  padding: 10px 0;
  align-items: center;
  fill: #fbfbfb;
}

.header-list {
  display: none;
}

.header-button {
  display: none;
}

.open-menu-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu {
  stroke: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .header {
    left: calc(50% - 384px);
  }

  .header-container {
    min-width: 768px;
    top: 32px;
    padding: 0 32px;
  }

  .header-logo-link {
    padding: 13px 0;
    gap: 8px;
  }

  .header-logo {
    width: 18px;
    height: 18px;
  }

  .header-logo-text {
    width: 168px;
  }

  .header-menu {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    left: calc(50% - 640px);
  }

  .header-container {
    min-width: 1280px;
    padding: 0 100px;
  }

  .header-logo-link {
    padding: 19px 0;
    margin-right: 397px;
  }

  .header-list {
    display: flex;
    gap: 8px;
    margin-right: 20px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: background-color 200ms ease-in-out;
  }

  .header-link:focus,
  .header-link:hover {
    background-color: rgba(251, 251, 251, 0.468);
  }

  .header-item {
  }

  .header-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    border: none;
    border-radius: 30px;
    padding: 16px 32px;
    background-color: #7a3145;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transition: background-color 200ms ease-in-out;
  }

  .header-button:focus,
  .header-button:hover {
    background-color: #622133;
  }

  .open-menu-btn {
    display: none;
  }
}
