.vegetables-container {
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.vegetables {
    padding: 80px 0;
    background: #7A3145;
}

.veg-title-additional {
    color: rgba(251, 251, 251, 0.30);
    font-family: "Inter Tight";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.veg-title {
    color: #FBFBFB;
    font-family: "Inter Tight";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    /* 104.167% */
    letter-spacing: -0.72px;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.veg-text {
    margin-bottom: 40px;

    color: #FBFBFB;
    font-family: "Inter Tight";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.veg-card {
    padding: 32px 26px;
    border-radius: 40px;
    background: #FBFBFB;
}

.veg-list .veg-subhead {
    margin-bottom: 12px;
}

.veg-subhead {
    color: #7A3145;
    font-family: "Inter Tight";
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 100% */
    letter-spacing: -0.42px;
}

.veg-price {
    color: #141414;
    font-family: "Inter Tight";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 128.571% */
    letter-spacing: -0.21px;
    text-transform: uppercase;
}

.veg-list .veg-price {
    margin-bottom: 14px;
}

.veg-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/** Tablet styles **/
@media screen and (min-width: 768px) {
    .vegetables-container {
        max-width: 768px;
    }

    .veg-title-additional {
    color: rgba(251, 251, 251, 0.30);
    font-family: "Inter Tight";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: -0.96px;
    text-transform: uppercase;
    }
    
    .veg-title {
    color: #FBFBFB;
    font-family: "Inter Tight";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    /* 100% */
    letter-spacing: -0.96px;
    text-transform: uppercase;
    margin-bottom: 25px;
    }
    
    .veg-text {
    color: #FBFBFB;
    font-family: "Inter Tight";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 125% */
    margin-bottom: 50px;
    }

    .veg-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 20px;
    }

    .veg-item {
    width: calc((100% - 20px) / 2);
    }

    .veg-card {
    padding: 32px 30px;
    }

    .veg-subhead {
    font-size: 32px;
    line-height: 32px;
    /* 100% */
    letter-spacing: -0.48px;
    }

    .vegetables {
    padding: 100px 0;
    }

}

/** Desktop styles **/
@media screen and (min-width: 1280px) {
    .vegetables-container {
        max-width: 1280px;
        padding: 0 100px;
    }

    .veg-card {
        padding: 32px;
    }

    .veg-subhead {
        font-size: 32px;
        line-height: 32px;
        /* 100% */
        letter-spacing: -0.48px;
        }

    .veg-text {
        color: #FBFBFB;
        font-family: "Inter Tight";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .veg-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        row-gap: 28px;
        column-gap: 21px;
    }

    .veg-item {
        width: calc((100% - 42px) / 3);
    }
}