<header class="header">
  <div class="header-container">
    <nav class="header-navigation">
      <a
        class="header-logo-link"
        href="../index.html"
        aria-label="Green Harvest website logo"
      >
        <svg class="header-logo" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="header-logo-text" width="148" height="15">
          <use href="./img/icons.svg#icon-green-harvest"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="">How It Works</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Vegetables</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="open-menu-btn">
      <svg class="header-menu" width="32" height="32">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <button class="header-button" type="button">SHOP NOW</button>
  </div>
</header>
