<header class="header">
  <div class="header-container">
    <nav class="header-navigation">
      <a
        class="header-logo"
        href="../index.html"
        aria-label="Green Harvest website logo"
      >
        <svg class="header-logo" width="18" height="18">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        <svg class="logo-text" width="168" height="15">
          <use href="./img/icons.svg#logo-text"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="">How It Works</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Vegetables</a>
        </li>
        <li class="header-item">
          <a class="header-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-button" type="button">SHOP NOW</button>
  </div>
</header>
