<header class="header">
  <div class="header-logo-container">
    <svg class="header-logo" width="18" height="18">
      <use href="./img/icons.svg#icon-logo"></use>
    </svg>
    <svg class="logo-text" width="168" height="15">
      <use href="./img/icons.svg#logo-text"></use>
    </svg>
  </div>
  <ul class="header-list">
    <li class="header-item">How It Works</li>
    <li class="header-item">Vegetables</li>
    <li class="header-item">Reviews</li>
  </ul>
  <button class="header-button" type="button">SHOP NOW</button>
</header>
