<div class="header-modal backdrop" id="header-modal-menu">
  <div class="header-modal-menu">
    <div class="modal">
      <button type="button" class="modal-close-btn" id="modal-menu-close-btn">
        <svg class="header-menu-close-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-close-menu"></use>
        </svg>
      </button>
      <nav class="modal-menu">
        <ul class="modal-menu-list">
          <li class="modal-menu-item">
            <a
              id="modal-menu-first-btn"
              class="modal-menu-link is-active"
              href="#how-it-works"
              rel="noppener noofferer"
            >
              How It Works
            </a>
          </li>
          <li class="modal-menu-item">
            <a
              id="modal-menu-second-btn"
              class="modal-menu-link"
              href="#vegetables"
              rel="noppener noofferer"
            >
              Vegetables
            </a>
          </li>
          <li class="modal-menu-item">
            <a
              id="modal-menu-third-btn"
              class="modal-menu-link"
              href="#reviews"
              rel="noppener noofferer"
            >
              Reviews
            </a>
          </li>
        </ul>
      </nav>
      <a href="#order" rel="noppener noofferer" id="modal-menu-fourth-btn">
        <button type="button" class="modal-send-btn">Shop now</button>
      </a>
    </div>
  </div>
</div>
