<div class="header-modal backdrop" id="head-1">
  <div class="header-modal-menu">
    <div class="modal">
      <button type="button" class="modal-close-btn" id="head-2">
        <svg class="header-menu-close-icon" width="16" height="16">
          <use href="./img/icons.svg#icon-close-menu"></use>
        </svg>
      </button>
      <nav class="modal-menu">
        <ul class="modal-menu-list">
          <li class="modal-menu-item">
            <a
              id="head-3"
              class="modal-menu-link"
              href="#how-it-works"
              rel="noppener noofferer"
            >
              How It Works
            </a>
          </li>
          <li class="modal-menu-item">
            <a
              id="head-4"
              class="modal-menu-link"
              href="#vegetables"
              rel="noppener noofferer"
            >
              Vegetables
            </a>
          </li>
          <li class="modal-menu-item">
            <a
              id="head-5"
              class="modal-menu-link"
              href="#reviews"
              rel="noppener noofferer"
            >
              Reviews
            </a>
          </li>
        </ul>
      </nav>
      <a class="modal-menu-btn" href="#order" id="head-6"> Shop now </a>
    </div>
  </div>
</div>
