<!-- /** Vegetables **/ -->

<section class="vegetables" id="vegetables">
  <div class="vegetables-container">
    <h2 class="veg-title">
      Organic<br /><span class="veg-title-additional">Vegetables</span>
    </h2>
    <p class="veg-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your<br />
      doorstep, ensuring that you get the freshest and most nutritious produce
      possible.
    </p>
    <ul class="veg-list">
      <li class="veg-item">
        <div class="veg-card">
          <h3 class="veg-subhead">eggplant</h3>
          <p class="veg-price">60 UAH / kg</p>
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./img/vegetables/eggplant-mob.jpg    1x,
                ./img/vegetables/eggplant-mob@x2.jpg 2x
              "
            />
            <img
              srcset="
                ./img/vegetables/eggplant.jpg    1x,
                ./img/vegetables/eggplant@x2.jpg 2x
              "
              src="./img/vegetables/eggplant.jpg"
              alt="eggplant"
              width="282"
            />
          </picture>
        </div>
      </li>
      <li class="veg-item">
        <div class="veg-card">
          <h3 class="veg-subhead">leek</h3>
          <p class="veg-price">50 UAH / kg</p>
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./img/vegetables/leek-mob.jpg    1x,
                ./img/vegetables/leek-mob@x2.jpg 2x
              "
            />
            <img
              srcset="
                ./img/vegetables/leek.jpg    1x,
                ./img/vegetables/leek@x2.jpg 2x
              "
              src="./img/vegetables/leek.jpg"
              alt="leek"
              width="282"
            />
          </picture>
        </div>
      </li>
      <li class="veg-item">
        <div class="veg-card">
          <h3 class="veg-subhead">mushrooms</h3>
          <p class="veg-price">40 UAH / kg</p>
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./img/vegetables/mushrooms-mob.jpg    1x,
                ./img/vegetables/mushrooms-mob@x2.jpg 2x
              "
            />
            <img
              srcset="
                ./img/vegetables/mushrooms.jpg    1x,
                ./img/vegetables/mushrooms@x2.jpg 2x
              "
              src="./img/vegetables/mushrooms.jpg"
              alt="mushrooms"
              width="282"
            />
          </picture>
        </div>
      </li>
      <li class="veg-item">
        <div class="veg-card">
          <h3 class="veg-subhead">corn</h3>
          <p class="veg-price">60 UAH / kg</p>
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./img/vegetables/corn-mob.jpg    1x,
                ./img/vegetables/corn-mob@x2.jpg 2x
              "
            />
            <img
              srcset="
                ./img/vegetables/corn.jpg    1x,
                ./img/vegetables/corn@x2.jpg 2x
              "
              src="./img/vegetables/corn.jpg"
              alt="corn"
              width="282"
            />
          </picture>
        </div>
      </li>
      <li class="veg-item">
        <div class="veg-card">
          <h3 class="veg-subhead">sweet potatoes</h3>
          <p class="veg-price">50 UAH / kg</p>
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./img/vegetables/potato-mob.jpg    1x,
                ./img/vegetables/potato-mob@x2.jpg 2x
              "
            />
            <img
              srcset="
                ./img/vegetables/potato.jpg    1x,
                ./img/vegetables/potato@x2.jpg 2x
              "
              src="./img/vegetables/potato.jpg"
              alt="sweet potato"
              width="282"
            />
          </picture>
        </div>
      </li>
      <li class="veg-item">
        <div class="veg-card">
          <h3 class="veg-subhead">carrot</h3>
          <p class="veg-price">40 UAH / kg</p>
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./img/vegetables/carrot-mob.jpg    1x,
                ./img/vegetables/carrot-mob@x2.jpg 2x
              "
            />
            <img
              srcset="
                ./img/vegetables/carrot.jpg    1x,
                ./img/vegetables/carrot@x2.jpg 2x
              "
              src="./img/vegetables/carrot.jpg"
              alt="carrot"
              width="282"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
